{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign in</title>
    <link rel="stylesheet" href="{% static "register/style_sign_in.css" %}">
</head>
<body>
    <div class="box">
        <span class="borderLine"></span>
        <form action="" method="POST">
            {% csrf_token %}
            <h2>Sign in</h2>
            <div class="inputBox">
                <input type="text" name='first_name' value='First name' required="required">
                <span>First name</span>
                <i></i>
                
                <!--
                    <label>Введите возраст</label><br>
                    <input type="number" name="age" value="{{person.age}}" />
                -->

            </div>
            <div class="inputBox">
                <input type="text" name='last_name' value='Last name' required="required">
                <span>Last name</span>
                <i></i>
            </div>
            <div class="inputBox">
                <input type="text" name='username' value='Username' required="required">
                <span>Username</span>
                <i></i>
            </div>
            <div class="inputBox">
                <input type="text" name='email' value='E-mail' required="required">
                <span>E-mail</span>
                <i></i>
            </div>
            <div class="inputBox">
                <input type="password" name='password' value='000000' required="required">
                <span>Password</span>
                <i></i>
            </div>
            <div class="links">
                <a href="{% url "register" %}">Signup</a>
            </div>
            <input type="submit" value="Sign in">  <!-- shu joyinda buttona link barbarish garak -->
        </form>
    </div>
</body>
</html>